<!DOCTYPE html>
<html>
<head>
  <title>ShabbatReminder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Welcome</h1>
<%= link_to "Push Bullet","https://www.pushbullet.com/authorize?client_id=ILJH5bOPw4bt1tKMnHk8Olc6M6SEL1kt&redirect_uri=http%3A%2F%2Flocalhost%3A3000&response_type=token"%>
<%= yield %>
<!-- o.H9zIXmg6pbY1Tz3UaYTRr0ytpdRSB15y -->
</body>
</html>
